modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 44167159
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
